# DLL files
__pycache__/
*.py[cod]
*$py.class

# packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# JSON
*.json

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
.venv_pibic
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
.pyc

# numpy
Resultados/Predicoes/predicoes.numpy/
.pyc

# Datasets
PKLot/
CNR-EXT-Patches-150x150/
kyoto/

# CSV
.csv
CSV/

# IDE
.idea/
.vscode/

# Modelos e pesos
Modelos/Pesos/
Modelos/Estruturas/
Modelos/Pesos_parciais/
Modelos/
*.h5
*.keras

# imagens
*.png


#Modelo
*.zip